.ToDolist {
    font-size: 13em;
    text-align: center;
    margin-bottom: 0.2em;
}

.but {
    background-color: blueviolet;
    color: aquamarine;
    height: 5em;
    width: 8em;
    border-radius: 2em;
    margin: 1em 0 1em 0;
}

.data {
    margin: 0.5em 0 0.5em 0;
    border: 1.5px solid black;
}

.main {
    width: 99%;
    text-align: center;
}

.rightSide {
    text-align: right;
}

#message {
    height: 7em;
    width: 30em;
    font-size: 1.5em;
}

.comment {
    margin: 1em auto 1em auto;
    height: 5em;
    width: 40em;
    border: 1px solid black;
    background-color: aquamarine;
}

.comment p:first-child {
    text-align: center;
}

.comment p:last-child {
    text-align: right;
}
